fastapi
uvicorn
sqlalchemy
celery
redis
asyncpg
greenlet
psycopg2-binary
python-multipart
requests
pydantic
PyJWT
google-generativeai
httpx
qdrant-client
python-docx
reportlab
pypdf
openai
aiohttp
groq